<section  class="card">
  <a id="categoryCard" href="/category/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{categories.[0].filename}}" alt="{{categories.[0].description}}">
  </a>
</section>