<section>
    {{!-- To Be Confirmed --}}
    <div  >
       
        <p class="btnContainer">
            <button class="counter minus"  {{! onclick="totalClick(-1) " }} >-</button>
            <span id="totalClicks">0</span>
            <button  class="counter add" {{! onclick="totalClick(1)" }}>+</button>
        </p>
        <button class="counter minus" id="reset">Reset</button>
        {{!-- <button class="counter minus" >Submit</button> --}}
         <button id="addStock" class="counter minus" data-value="{{product.id}}">Add Stock</button>
        <button id="reduceStock" class="counter minus" data-value="{{product.id}}">Reduce Stock</button>
    </div>

    

</section>