<section class="container">
    <div>
      <h2>{{product.product_name}}</h2>
      <p>Quantity: {{product.quantity}}</p>
      <p>Description: {{product.description}}</p>
    </div>
  <div>
    {{> product-details product=product}}
  </div>
</section>